alabaster==0.7.10
Babel==2.5.3
certifi==2018.4.16
chardet==3.0.4
click==6.7
coverage==4.5.1
coverage-badge==0.2.0
dash==0.21.1
dash-core-components==0.23.0
dash-html-components==0.11.0
dash-renderer==0.13.0
decorator==4.3.0
docutils==0.14
Flask==1.0.2
Flask-Compress==1.4.0
idna==2.6
imagesize==1.0.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
nbformat==4.4.0
numpy==1.14.3
packaging==17.1
pandas==0.22.0
patsy==0.5.0
plotly==2.7.0
psycopg2==2.7.4
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
snowballstemmer==1.2.1
SQLAlchemy==1.2.7
statsmodels==0.9.0
teamcity-messages==1.21
traitlets==4.3.2
urllib3==1.22
tqdm==4.23.4
Werkzeug==0.14.1
wincertstore==0.2
